.list {
  overflow: auto;
  list-style-type: none;
  height: 85vh;
  padding: 0;
  margin: 0;
}

.list > li {
  min-height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}

.list > li:hover {
  cursor: pointer;
  background-color: #4b606a;
}

.selected {
  background-color: #4b606a;
}
